<div class="row">
  <div class="col-md-8 offset-2">
    <%= form_with url: search_path, class: 'row g-3 align-items-center' do |form| %>
      <div class="col-5">
        <%= form.select :countries, countries_list, {}, class: 'form-select' %>
      </div>
      <div class="col-5">
        <%= form.select :devices, devices_list, {}, class: 'form-select' %>
      </div>

      <div class="col-1">
        <button type="submit" class="btn btn-primary">Search</button>
      </div>
    <% end %>
  </div>
</div>
